<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout-admin.html}">

<section class="row" layout:fragment="content">
    <div class="col-6 offset-3 mt-4">
        <form th:action="@{/admin/categories/saveOrUpdate}" method="POST" th:object="${category}">
            <div class="card">
                <div class="card-header">
                    <h2 th:text="${category.isEdit ? 'Edit Category' : 'Add New Category'}">Add New Category</h2>
                </div>
                <div class="card-body">
                    <div class="mb-3" th:if="${category.isEdit}">
                        <label for="categoryId" class="form-Label">Category ID: </label>
                        <input type="hidden" th:field="*{isEdit}">
                        <input
                                type="text" readonly="readonly" class="form-control" th:field="*{categoryId}" id="categoryId" name="categoryId"
                                aria-describedby="categoryId" placeholder="Category ID">
                        <div th:if="${#fields.hasErrors('categoryId')}"
                             class="form-text text-muted">
                            <span class="text-danger">Category ID is required!</span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="categoryName" class="form-Label">Category Name:</label>
                        <input
                                type="text" class="form-control" th:field="*{categoryName}" id="categoryName" name="categoryName"
                                aria-describedby="categoryName" placeholder="Category Name">

                        <div th:if="${#fields.hasErrors('categoryName')}" class="form-text text-muted">
                            <span class="text-danger">Category Name is required!</span>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <button type="submit" class="btn btn-primary" th:text="${category.isEdit ? 'Edit' : 'Save'}">Save</button>
                </div>
            </div>
        </form>
    </div>
</section>
</html>