<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout-admin.html}">

<section class="row" layout:fragment="content">
    <div class="col mt-4">
        <div class="card">
            <div class="card-header">List Category</div>
            <div class="card-body">
                <!-- Hiển thị thông báo -->
                <div th:if="${message != null}" class="alert alert-primary" role="alert">
                    <i>[[${message}]]</i>
                </div>

                <!-- Form tìm kiếm -->
                <div class="row mt-2 mb-2">
                    <div class="col-md-6">
                        <form th:action="@{/admin/categories/searchpaginated}">
                            <div class="input-group">
                                <input type="text" class="form-control ml-2" name="name" id="name" placeholder="Nhập từ khóa để tìm" />
                                <button class="btn btn-outline-primary ml-2">Search</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="float-right">
                            <a class="btn btn-outline-success" th:href="@{/admin/categories/add}">Add New Category</a>
                        </div>
                    </div>
                </div>

                <!-- Kiểm tra và hiển thị danh sách -->
                <div class="row" th:if="${!categoryPage.hasContent()}">
                    <div class="col">
                        <div class="alert alert-danger" role="alert">No Category Found</div>
                    </div>
                </div>

                <table th:if="${categoryPage.hasContent()}" class="table table-striped table-inverse table-responsive">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Category ID</th>
                        <th>Category Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="category, iStat : ${categoryPage.content}">
                        <td th:scope="row">[[${category.categoryId}]]</td>
                        <td th:text="${category.categoryName}"></td>
                        <td>
                            <a th:href="@{'/admin/categories/edit/' + ${category.categoryId}}" class="btn btn-outline-warning">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                            <a th:data-id="${category.categoryId}" th:data-name="${category.categoryName}"
                               onclick="showConfirmation(this.getAttribute('data-id'), this.getAttribute('data-name'))"
                               class="btn btn-outline-danger">
                                <i class="fa fa-trash"></i> Delete
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- Script hiển thị modal xác nhận xóa -->
                <script type="text/javascript">
                    function showConfirmation(id, name) {
                        $('#productName').text(name);
                        $('#yesOption').attr('href', '/admin/categories/delete/' + id);
                        $('#confirmationId').modal('show'); // Hiển thị modal
                    }
                </script>
                <!-- Modal xác nhận xóa -->
                <div class="modal fade" id="confirmationId" tabindex="-1" aria-labelledby="confirmationLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmationLabel">Confirmation</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Bạn có muốn xóa "<span id="productName"></span>"?
                            </div>
                            <div class="modal-footer">
                                <a id="yesOption" class="btn btn-primary">Yes</a>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Footer phân trang -->
                <div class="card-footer text-muted">
                    <div class="row">
                        <div class="col-3">
                            <form action="">
                                <div class="mb-3 input-group float-left">
                                    <label for="size" class="mr-2">Page size:</label>
                                    <select class="form-select mL-2" name="size" aria-label="size" id="size" onchange="this.form.submit()">
                                        <option th:selected="${categoryPage.size == 3}" value="3">3</option>
                                        <option th:selected="${categoryPage.size == 5}" value="5">5</option>
                                        <option th:selected="${categoryPage.size == 10}" value="10">10</option>
                                        <option th:selected="${categoryPage.size == 15}" value="15">15</option>
                                        <option th:selected="${categoryPage.size == 20}" value="20">20</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <!-- Pagination -->
                        <div class="col-7" aria-label="Page navigation" th:if="${categoryPage.totalPages > 0}">
                            <ul class="pagination justify-content-center">
                                <!-- First Page Link -->
                                <li th:class="${1 == categoryPage.number + 1} ? 'page-item active' : 'page-item'">
                                    <a th:href="@{/admin/categories/searchpaginated(categoryName=${categoryName},size=${categoryPage.size},page=${1})}" class="page-link">First</a>
                                </li>

                                <!-- Page Numbers -->
                                <li class="page-item" th:each="pageNumber : ${pageNumbers}" th:class="${pageNumber == categoryPage.number + 1} ? 'page-item active' : 'page-item'">
                                    <a th:href="@{/admin/categories/searchpaginated(categoryName=${categoryName},size=${categoryPage.size},page=${pageNumber})}" class="page-link" th:text="${pageNumber}">X</a>
                                </li>

                                <!-- Last Page Link -->
                                <li th:class="${categoryPage.totalPages == categoryPage.number + 1} ? 'page-item active' : 'page-item'">
                                    <a th:href="@{/admin/categories/searchpaginated(categoryName=${categoryName},size=${categoryPage.size},page=${categoryPage.totalPages})}" class="page-link">Last</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>